# Archivos auxiliares de LaTeX
*.aux
*.bbl
*.bcf
*.blg
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.pdf
*.run.xml
# Fuera de LaTeX
*.env
*.txt
#*.csv
*.Rhistory
*.Rdata
# Para más info: https://stackabuse.com/git-ignore-files-with-gitignore/